  <style>
    * {
      box-sizing: border-box;
    }

    body {
      margin: 0;
    }

    :root {
      --gjs-t-color-primary: #cf549e;
      --gjs-t-color-secondary: #b9227d;
      --gjs-t-color-accent: #ffb347;
      --gjs-t-color-success: #28a745;
      --gjs-t-color-warning: #ffc107;
      --gjs-t-color-error: #dc3545;
    }

    body {
      background-color: #e7e7e7;
      font-family: system-ui, sans-serif;
      margin: 0;
    }

    .head {
      padding: 50px 50px 35px;
    }

    .logo {
      height: 50px;
      display: block;
      margin: 0 auto;
    }

    .card {
      max-width: 700px;
      padding: 40px 45px;
      background-color: white;
      border-radius: 15px;
      margin: 0 auto;
    }

    .title {
      margin: 0;
      text-align: center;
    }

    .gjs-t-body {
      background-color: inherit;
      color: inherit;
      font-size: 1rem;
      line-height: 1.75rem;
      font-family: Arial, Helvetica, sans-serif;
    }

    .subtitle {
      text-align: center;
      margin: 0;
      padding: 25px 0;
    }

    .paragraph {
      line-height: 1.5;
      margin-bottom: 40px;
    }

    .link {
      color: #af4e8a;
      text-decoration: none;
      font-size: 13px;
    }

    .footer {
      margin-top: 30px;
      text-align: center;
    }

    .gjs-t-h1 {
      color: var(--gjs-t-color-secondary);
      font-size: 1.5rem;
      line-height: 2.5rem;
    }

    .button {
      display: block;
      padding: 0.5rem 1rem;
      text-decoration: none;
      text-align: center;
      border-width: 0;
    }

    .gjs-t-h2 {
      color: #601843;
      font-size: 1.2rem;
      line-height: 1.75rem;
    }

    .gjs-t-button {
      background-color: var(--gjs-t-color-primary);
      color: white;
      border-radius: 0.3rem;
    }

    .gjs-t-link {
      color: var(--gjs-t-color-primary);
      text-decoration: underline;
    }

    .gjs-t-border {
      border-radius: 0.3rem;
      border-color: #e0e0e0;
    }

    #i0vb3 {
      font-family: 'book antiqua', palatino, serif;
      font-size: 18pt;
    }

    #i3c8f {
      padding-left: 40px;
    }

    #ia643 {
      padding-left: 40px;
      text-align: center;
    }

    #igxq7 {
      padding-left: 40px;
      text-align: center;
    }

    #iu8hl {
      text-align: center;
      padding-top: 5px;
      padding-right: 5px;
      padding-bottom: 5px;
      padding-left: 5px;
    }

    #iaykv {
      text-align: center;
    }

    #iy7v3 {
      color: rgb(149, 165, 166);
    }

    #i9jyg {
      padding-top: 0px;
      padding-right: 5px;
      padding-bottom: 0px;
      padding-left: 5px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }

    .gjs-link-box {
      color: inherit;
      display: inline-block;
      vertical-align: top;
      padding: 10px;
      max-width: 100%;
      text-decoration: none;
    }

    * {
      box-sizing: border-box;
    }

    .gjs-t-body {
      background-color: inherit;
      color: inherit;
      font-size: 1rem;
      line-height: 1.75rem;
      font-family: Arial, Helvetica, sans-serif;
    }

    .gjs-t-h1 {
      color: var(--gjs-t-color-secondary);
      font-size: 1.5rem;
      line-height: 2.5rem;
    }

    .gjs-t-h2 {
      color: #601843;
      font-size: 1.2rem;
      line-height: 1.75rem;
    }

    .gjs-t-button {
      background-color: var(--gjs-t-color-primary);
      color: white;
      border-radius: 0.3rem;
    }

    .gjs-t-link {
      color: var(--gjs-t-color-primary);
      text-decoration: underline;
    }

    .gjs-t-border {
      border-radius: 0.3rem;
      border-color: #e0e0e0;
    }

    .gjs-container {
      width: 90%;
      margin: 0 auto;
      max-width: 1200px;
    }

    .gjs-section {
      display: flex;
      padding: 50px 0;
    }

    #i2wlg {
      margin-top: 2px;
      margin-right: 0px;
      margin-bottom: 204px;
      margin-left: 0px;
      padding-top: 57px;
      padding-right: 0px;
      padding-bottom: 55px;
      padding-left: 255px;
    }

    #i4fv4 {
      display: inline;
      padding-top: 100px;
      padding-right: 100px;
      padding-bottom: 100px;
      padding-left: 100px;
      margin-top: 100px;
      margin-right: 100px;
      margin-bottom: 100px;
      margin-left: 100px;
    }

    #i89pe {
      text-align: left;
      padding-top: 5px;
      padding-right: 5px;
      padding-bottom: 5px;
      padding-left: 5px;
      position: relative;
      left: 2px;
    }

    #i15ij {
      font-family: 'andale mono', monospace;
      font-size: 14pt;
    }

    #io3nv {
      color: rgb(224, 62, 45);
    }

    #itymu {
      color: rgb(224, 62, 45);
      text-decoration: none;
    }

    #i020o {
      font-size: 14pt;
    }

    #izuij {
      color: rgb(149, 165, 166);
    }

    #irban {
      color: rgb(149, 165, 166);
    }

    #ifw6f {
      font-family: 'andale mono', monospace;
      font-size: 14pt;
    }

    #i8dbh {
      font-size: 14pt;
    }

    #iahfk {
      font-family: 'andale mono', monospace;
    }

    #igh52 {
      font-family: 'andale mono', monospace;
    }

    #id5le {
      font-size: 14pt;
    }

    #it9c5 {
      padding-left: 40px;
    }

    #i0i9h {
      font-family: 'andale mono', monospace;
    }

    #izu64 {
      padding-top: 5px;
      padding-right: 5px;
      padding-bottom: 5px;
      padding-left: 5px;
    }

    #ik6tz {
      color: rgb(149, 165, 166);
    }

    #iftdf {
      padding-top: 5px;
      padding-right: 5px;
      padding-bottom: 5px;
      padding-left: 5px;
    }

    #iixxb {
      padding-top: 5px;
      padding-right: 5px;
      padding-bottom: 5px;
      padding-left: 5px;
    }

    #idmj {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 50px;
      margin-left: 0px;
    }

    #ihzgd {
      font-family: book antiqua, palatino, serif;
    }

    #i10ak {
      font-size: 24px;
    }

    #irrgp {
      font-family: 'andale mono', monospace;
      font-size: 24pt;
    }

    #iyp7zj {
      font-family: 'andale mono', monospace;
      font-size: 24pt;
    }

    #izqly2 {
      font-family: 'andale mono', monospace;
      font-size: 24pt;
    }

    #i7hfhd {
      font-family: 'andale mono', monospace;
      font-size: 18pt;
      position: relative;
      left: 4px;
    }

    #izud94 {
    width: 130px;
	  height: 40px;
	  background-color: red;
	  background-clip: border-box;
	  border-top-style: none;
	  border-right-style: none;
	  border-bottom-style: none;
	  border-left-style: none;
	  border-top-color: white;
	  border-right-color: white;
	  border-bottom-color: white;
	  border-left-color: white;
	  color: white;
	  font-family: Georgia, serif;
	  font-weight: 400;
	  cursor: pointer;
	  mix-blend-mode: normal;
    font-size: 17px;
    }

    #ihdsx4 {
      width: 130px;
	  height: 40px;
	  position: relative;
	  left: 20px;
	  font-family: Georgia, serif;
    font-size: 17px;
	  color: Red;
	  border-top-color: Red;
	  border-right-color: Red;
	  border-bottom-color: Red;
	  border-left-color: Red;
	  cursor: pointer;
    background-color: white;
    }

    #visitor-counter-box {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.7); /* semi-transparent background */
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    font-family: sans-serif;
    font-size: 14px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    }
  </style>